USE [master]
GO
/****** Object:  Database [NEWHOUSE2022]    Script Date: 29/09/2022 2:37:55 PM ******/
CREATE DATABASE [NEWHOUSE2022]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NEWHOUSE2022', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NEWHOUSE2022.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NEWHOUSE2022_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NEWHOUSE2022_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NEWHOUSE2022].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NEWHOUSE2022]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[LoginErrorMessage] [nvarchar](100) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongNghe]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNghe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe11] [nvarchar](50) NULL,
	[NoiDung11] [ntext] NULL,
	[TuaDe12] [nvarchar](50) NULL,
	[NoiDung12] [ntext] NULL,
	[Hinh1] [nvarchar](max) NULL,
	[TuaDe2] [nvarchar](50) NULL,
	[NoiDung2] [ntext] NULL,
	[Hinh2] [nvarchar](max) NULL,
	[TuaDeChinh] [nvarchar](50) NULL,
	[TrichDan] [ntext] NULL,
 CONSTRAINT [PK_CongNghe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTac]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTac](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[Link] [nvarchar](max) NULL,
	[Hinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_DoiTac] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUAN]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUAN](
	[IDDuan] [int] IDENTITY(1,1) NOT NULL,
	[TenDuan] [nvarchar](100) NULL,
	[IDTheLoaiDuAn] [int] NULL,
	[SoThuTu] [int] NULL,
	[NgayThang] [datetime] NULL,
	[NoiDung] [ntext] NULL,
	[Hinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_DUAN] PRIMARY KEY CLUSTERED 
(
	[IDDuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaiPhap]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaiPhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[NoiDung] [ntext] NULL,
	[Hinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_GiaiPhap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IconXaHoi]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IconXaHoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Icon1] [nvarchar](max) NULL,
	[Link1] [nvarchar](max) NULL,
	[Icon2] [nvarchar](max) NULL,
	[Link2] [nvarchar](max) NULL,
	[Icon3] [nvarchar](max) NULL,
	[Link3] [nvarchar](max) NULL,
	[Icon4] [nvarchar](max) NULL,
	[Link4] [nvarchar](max) NULL,
 CONSTRAINT [PK_IconXaHoi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KTS]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KTS](
	[IDKTS] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](100) NULL,
	[TuaDePhu] [nvarchar](100) NULL,
	[ThongTin] [ntext] NULL,
	[HinhGioiThieu] [nvarchar](max) NULL,
	[SoThuTu] [int] NULL,
	[TieuChi1] [nvarchar](100) NULL,
	[TieuChi2] [nvarchar](100) NULL,
	[TieuChi3] [nvarchar](100) NULL,
 CONSTRAINT [PK_KTS] PRIMARY KEY CLUSTERED 
(
	[IDKTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KTS_DUAN]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KTS_DUAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDDuan] [int] NULL,
	[IDKTS] [int] NULL,
 CONSTRAINT [PK_KTS_DUAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Map] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](50) NULL,
	[Mail] [nchar](10) NULL,
	[ThongTin] [ntext] NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoiGioiThieu]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoiGioiThieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GioiThieuSanPham] [ntext] NULL,
	[GioiThieuTinhNang] [ntext] NULL,
	[GioiThieuKTS] [ntext] NULL,
 CONSTRAINT [PK_LoiGioiThieu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[TuaDePhu] [nvarchar](200) NULL,
	[HinhGioiThieu] [nvarchar](max) NULL,
	[HinhChinh] [nvarchar](max) NULL,
	[ViTri] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SoThuTu] [int] NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[TuaDePhu] [nvarchar](50) NULL,
	[Hinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_Slide] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhNang]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhNang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[Hinh] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](200) NULL,
 CONSTRAINT [PK_TinhNang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 29/09/2022 2:37:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[Hinh] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMIN] ON 

INSERT [dbo].[ADMIN] ([ID], [TaiKhoan], [MatKhau], [LoginErrorMessage]) VALUES (1, N'baule', N'123', NULL)
SET IDENTITY_INSERT [dbo].[ADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[DUAN] ON 

INSERT [dbo].[DUAN] ([IDDuan], [TenDuan], [IDTheLoaiDuAn], [SoThuTu], [NgayThang], [NoiDung], [Hinh]) VALUES (3, N'bca', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[DUAN] ([IDDuan], [TenDuan], [IDTheLoaiDuAn], [SoThuTu], [NgayThang], [NoiDung], [Hinh]) VALUES (4, N'AAA', 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[DUAN] ([IDDuan], [TenDuan], [IDTheLoaiDuAn], [SoThuTu], [NgayThang], [NoiDung], [Hinh]) VALUES (5, N'BBB', 3, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DUAN] OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([ID], [SoThuTu], [TuaDe], [TuaDePhu], [Hinh]) VALUES (1, 1, N'2', N'3', N'slide1.jpg')
INSERT [dbo].[Slide] ([ID], [SoThuTu], [TuaDe], [TuaDePhu], [Hinh]) VALUES (2, 4, N'aaa', N'aaaaaaaaaa', N'slide2.png')
INSERT [dbo].[Slide] ([ID], [SoThuTu], [TuaDe], [TuaDePhu], [Hinh]) VALUES (3, 6, N'aaa', N'aaaaaaaaaa', N'slide3.png')
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
/****** Object:  Index [UQ__Slide__9D08B27F178D5082]    Script Date: 29/09/2022 2:37:55 PM ******/
ALTER TABLE [dbo].[Slide] ADD UNIQUE NONCLUSTERED 
(
	[SoThuTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KTS_DUAN]  WITH CHECK ADD  CONSTRAINT [FK_KTS_DUAN_DUAN] FOREIGN KEY([IDDuan])
REFERENCES [dbo].[DUAN] ([IDDuan])
GO
ALTER TABLE [dbo].[KTS_DUAN] CHECK CONSTRAINT [FK_KTS_DUAN_DUAN]
GO
ALTER TABLE [dbo].[KTS_DUAN]  WITH CHECK ADD  CONSTRAINT [FK_KTS_DUAN_KTS] FOREIGN KEY([IDKTS])
REFERENCES [dbo].[KTS] ([IDKTS])
GO
ALTER TABLE [dbo].[KTS_DUAN] CHECK CONSTRAINT [FK_KTS_DUAN_KTS]
GO
USE [master]
GO
