USE [master]
GO
/****** Object:  Database [NEWHOUSE2022]    Script Date: 08/10/2022 3:42:55 AM ******/
CREATE DATABASE [NEWHOUSE2022]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NEWHOUSE2022].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NEWHOUSE2022]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[LoginErrorMessage] [nvarchar](100) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongNghe]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNghe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe11] [nvarchar](50) NULL,
	[NoiDung11] [ntext] NULL,
	[TuaDe12] [nvarchar](50) NULL,
	[NoiDung12] [ntext] NULL,
	[Hinh1] [nvarchar](max) NULL,
	[TuaDe2] [nvarchar](50) NULL,
	[NoiDung2] [ntext] NULL,
	[Hinh2] [nvarchar](max) NULL,
	[TuaDeChinh] [nvarchar](50) NULL,
	[TrichDan] [ntext] NULL,
 CONSTRAINT [PK_CongNghe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTac]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTac](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[Link] [nvarchar](max) NULL,
	[Hinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_DoiTac] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUAN]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUAN](
	[IDDuan] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](100) NULL,
	[TuaDePhu] [nvarchar](100) NULL,
	[NgayThang] [nvarchar](100) NULL,
	[NoiDung] [ntext] NULL,
	[Hinh] [nvarchar](max) NULL,
	[GioiThieu] [ntext] NULL,
	[LoaiDuAn] [nvarchar](300) NULL,
 CONSTRAINT [PK_DUAN] PRIMARY KEY CLUSTERED 
(
	[IDDuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaiPhap]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaiPhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[NoiDung] [ntext] NULL,
	[Hinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_GiaiPhap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IconXaHoi]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IconXaHoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Icon1] [nvarchar](max) NULL,
	[Link1] [nvarchar](max) NULL,
	[Icon2] [nvarchar](max) NULL,
	[Link2] [nvarchar](max) NULL,
	[Icon3] [nvarchar](max) NULL,
	[Link3] [nvarchar](max) NULL,
	[Icon4] [nvarchar](max) NULL,
	[Link4] [nvarchar](max) NULL,
 CONSTRAINT [PK_IconXaHoi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KTS]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KTS](
	[IDKTS] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](100) NULL,
	[TuaDePhu] [nvarchar](100) NULL,
	[NoiDung] [ntext] NULL,
	[Hinh] [nvarchar](max) NULL,
	[LoaiKTS] [nvarchar](100) NULL,
	[NgayThang] [nvarchar](100) NULL,
	[CongViec] [nvarchar](100) NULL,
	[GioiThieu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KTS] PRIMARY KEY CLUSTERED 
(
	[IDKTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KTS_DUAN]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KTS_DUAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDDuan] [int] NULL,
	[IDKTS] [int] NULL,
 CONSTRAINT [PK_KTS_DUAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Map] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](50) NULL,
	[Mail] [nchar](10) NULL,
	[ThongTin] [ntext] NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoiGioiThieu]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoiGioiThieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GioiThieuSanPham] [ntext] NULL,
	[GioiThieuTinhNang] [ntext] NULL,
	[GioiThieuKTS] [ntext] NULL,
 CONSTRAINT [PK_LoiGioiThieu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[TuaDePhu] [nvarchar](200) NULL,
	[HinhGioiThieu] [nvarchar](max) NULL,
	[NoiDung] [ntext] NULL,
	[ViTri] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SoThuTu] [int] NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[TuaDePhu] [nvarchar](50) NULL,
	[Hinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_Slide] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhNang]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhNang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[Hinh] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](200) NULL,
 CONSTRAINT [PK_TinhNang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 08/10/2022 3:42:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TuaDe] [nvarchar](50) NULL,
	[Hinh] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMIN] ON 

INSERT [dbo].[ADMIN] ([ID], [TaiKhoan], [MatKhau], [LoginErrorMessage]) VALUES (1, N'baule', N'123', NULL)
SET IDENTITY_INSERT [dbo].[ADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[CongNghe] ON 

SET IDENTITY_INSERT [dbo].[CongNghe] OFF
GO
SET IDENTITY_INSERT [dbo].[DoiTac] ON 

INSERT [dbo].[DoiTac] ([ID], [TuaDe], [Link], [Hinh]) VALUES (1002, N'aaaaaaaaaa', N'aaaaa', N'doitac1002.jpg')
SET IDENTITY_INSERT [dbo].[DoiTac] OFF
GO
SET IDENTITY_INSERT [dbo].[DUAN] ON 

INSERT [dbo].[DUAN] ([IDDuan], [TuaDe], [TuaDePhu], [NgayThang], [NoiDung], [Hinh], [GioiThieu], [LoaiDuAn]) VALUES (3, N'bca', N'1', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DUAN] ([IDDuan], [TuaDe], [TuaDePhu], [NgayThang], [NoiDung], [Hinh], [GioiThieu], [LoaiDuAn]) VALUES (4, N'AAA', N'2', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DUAN] ([IDDuan], [TuaDe], [TuaDePhu], [NgayThang], [NoiDung], [Hinh], [GioiThieu], [LoaiDuAn]) VALUES (5, N'BBB', N'3', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DUAN] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaiPhap] ON 

SET IDENTITY_INSERT [dbo].[GiaiPhap] OFF
GO
SET IDENTITY_INSERT [dbo].[IconXaHoi] ON 

INSERT [dbo].[IconXaHoi] ([ID], [Icon1], [Link1], [Icon2], [Link2], [Icon3], [Link3], [Icon4], [Link4]) VALUES (1, NULL, N'a', NULL, N'a', NULL, N'a', NULL, N'a')
SET IDENTITY_INSERT [dbo].[IconXaHoi] OFF
GO
SET IDENTITY_INSERT [dbo].[KTS] ON 

INSERT [dbo].[KTS] ([IDKTS], [TuaDe], [TuaDePhu], [NoiDung], [Hinh], [LoaiKTS], [NgayThang], [CongViec], [GioiThieu]) VALUES (1, N'BAU', N'a', N'a', N'A', N'A', N'A', N'A', NULL)
INSERT [dbo].[KTS] ([IDKTS], [TuaDe], [TuaDePhu], [NoiDung], [Hinh], [LoaiKTS], [NgayThang], [CongViec], [GioiThieu]) VALUES (2, N'HOALE', N'A', N'A', N'A', N'A', N'A', N'A', NULL)
SET IDENTITY_INSERT [dbo].[KTS] OFF
GO
SET IDENTITY_INSERT [dbo].[KTS_DUAN] ON 

INSERT [dbo].[KTS_DUAN] ([ID], [IDDuan], [IDKTS]) VALUES (1, 3, 2)
INSERT [dbo].[KTS_DUAN] ([ID], [IDDuan], [IDKTS]) VALUES (2, 4, 1)
INSERT [dbo].[KTS_DUAN] ([ID], [IDDuan], [IDKTS]) VALUES (3, 4, 1)
SET IDENTITY_INSERT [dbo].[KTS_DUAN] OFF
GO
SET IDENTITY_INSERT [dbo].[LienHe] ON 

INSERT [dbo].[LienHe] ([ID], [Map], [DiaChi], [SoDienThoai], [Mail], [ThongTin]) VALUES (1, N'a', N'aa', N'a', N'a         ', N'a')
SET IDENTITY_INSERT [dbo].[LienHe] OFF
GO
SET IDENTITY_INSERT [dbo].[LoiGioiThieu] ON 

SET IDENTITY_INSERT [dbo].[LoiGioiThieu] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([ID], [TuaDe], [TuaDePhu], [HinhGioiThieu], [NoiDung], [ViTri]) VALUES (3, N'CẤU TRÚC SANDWICH', N'aaaaaaaaaa', N'sanpham3.jpg', N'<p><img alt="" src="/DATA/Images/pexels-eyup-beyhan-13787836.jpg" style="height:1200px; width:800px" /></p>

<p><img alt="" src="/DATA/Images/pexels-alleksana-4238325.jpg" style="height:1200px; width:800px" /></p>
', NULL)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([ID], [SoThuTu], [TuaDe], [TuaDePhu], [Hinh]) VALUES (2, 4, N'aaa', N'aaaaaaaaaa', N'slide2.png')
INSERT [dbo].[Slide] ([ID], [SoThuTu], [TuaDe], [TuaDePhu], [Hinh]) VALUES (3, 6, N'aaa', N'aaaaaaaaaa', N'slide3.png')
INSERT [dbo].[Slide] ([ID], [SoThuTu], [TuaDe], [TuaDePhu], [Hinh]) VALUES (4, 7, N'aaa', N'aaaaaaaaaa', N'slide4.jpg')
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

INSERT [dbo].[TinTuc] ([ID], [TuaDe], [Hinh], [Link]) VALUES (1, N'aaaaaaaaaa', N'tintuc1.jpg', N'ádfasdf')
SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
/****** Object:  Index [UQ__Slide__9D08B27F178D5082]    Script Date: 08/10/2022 3:42:55 AM ******/
ALTER TABLE [dbo].[Slide] ADD UNIQUE NONCLUSTERED 
(
	[SoThuTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KTS_DUAN]  WITH CHECK ADD  CONSTRAINT [FK_KTS_DUAN_DUAN] FOREIGN KEY([IDDuan])
REFERENCES [dbo].[DUAN] ([IDDuan])
GO
ALTER TABLE [dbo].[KTS_DUAN] CHECK CONSTRAINT [FK_KTS_DUAN_DUAN]
GO
ALTER TABLE [dbo].[KTS_DUAN]  WITH CHECK ADD  CONSTRAINT [FK_KTS_DUAN_KTS] FOREIGN KEY([IDKTS])
REFERENCES [dbo].[KTS] ([IDKTS])
GO
ALTER TABLE [dbo].[KTS_DUAN] CHECK CONSTRAINT [FK_KTS_DUAN_KTS]
GO
USE [master]
GO
