
@{
    Layout = null;
}

<section id="partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title txt-xs-center">
                    <h3 class="upper">Đối Tác</span></h3>
                    <hr>

                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="shop-product">
                            <div class="product-thumb">
                                <a href="http://landscapeassociation.vn/">
                                    <img src="images/Parnert/1.png" alt="">
                                </a>
                                <div class="product-overlay">
                                    <a href="http://landscapeassociation.vn/" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="upper"><a href="http://landscapeassociation.vn/">Landscape Association</a></h4>
                                <div class="save-product">
                                    <a href="http://landscapeassociation.vn/"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="shop-product">
                            <div class="product-thumb">
                                <a href="#">
                                    <img src="images/Parnert/2.png" alt="">
                                </a>
                                <div class="product-overlay">
                                    <a href="#" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="upper"><a href="#">VMW</a></h4>
                                <div class="save-product">
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="shop-product">
                            <div class="product-thumb">
                                <a href="https://www.facebook.com/smarteciot/">
                                    <img src="images/Parnert/3.png" alt="">
                                </a>
                                <div class="product-overlay">
                                    <a href="https://www.facebook.com/smarteciot/" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="upper"><a href="https://www.facebook.com/smarteciot/">Smartec</a></h4>
                                <div class="save-product">
                                    <a href="https://www.facebook.com/smarteciot/"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="shop-product">
                            <div class="product-thumb">
                                <a href="#">
                                    <img src="images/Parnert/4.png" alt="">
                                </a>
                                <div class="product-overlay">
                                    <a href="#" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="upper"><a href="#">Newzealand House</a></h4>
                                <div class="save-product">
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="shop-product">
                            <div class="product-thumb">
                                <a href="https://elek.vn/">
                                    <img src="images/Parnert/5.png" alt="">
                                </a>
                                <div class="product-overlay">
                                    <a href="https://elek.vn/" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="upper"><a href="https://elek.vn/">Elek</a></h4>
                                <div class="save-product">
                                    <a href="https://elek.vn/"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="shop-product">
                            <div class="product-thumb">
                                <a href="https://thermory.com/">
                                    <img src="images/Parnert/6.png" alt="">
                                </a>
                                <div class="product-overlay">
                                    <a href="https://thermory.com/" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="upper"><a href="https://thermory.com/">Themory</a></h4>
                                <div class="save-product">
                                    <a href="https://thermory.com/"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="shop-product">
                            <div class="product-thumb">
                                <a href="https://thanhanco.com/">
                                    <img src="images/Parnert/7.png" alt="">
                                </a>
                                <div class="product-overlay">
                                    <a href="https://thanhanco.com/" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="upper"><a href="https://thanhanco.com/">VinaGFRC</a></h4>
                                <div class="save-product">
                                    <a href="https://thanhanco.com/"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="shop-product">
                            <div class="product-thumb">
                                <a href="http://www.naturallifevn.com/">
                                    <img src="images/Parnert/8.png" alt="">
                                </a>
                                <div class="product-overlay">
                                    <a href="http://www.naturallifevn.com/" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="upper"><a href="http://www.naturallifevn.com/">Lang Nhỏ</a></h4>
                                <div class="save-product">
                                    <a href="http://www.naturallifevn.com/"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of row-->
            </div>
        </div>
        <!-- end of row-->
    </div>

    <!-- end of container -->
</section>
