@model IEnumerable<NEWHOUSE_REBUILD_2022.Models.DUAN>

@{
    Layout = null;
}

<section id="project" class="pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="title m-0 txt-xs-center txt-sm-center">
                    <h2 class="upper">Dự Án</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <ul id="filters" class="no-fix mt-25">
                  <li data-filter="*" class="active">All</li>
                  <li data-filter=".branding">The Log</li>
                  <li data-filter=".graphic">The Slab</li>
                  <li data-filter=".printing">The Kolumn</li>
                  <li data-filter=".video">The Dome</li>
                </ul> -->
                <!-- end of portfolio filters-->
            </div>
        </div>
        <!-- end of row-->
    </div>
    <div class="section-content pb-0">
        <div id="works" class="four-col wide mt-50">
            @foreach (var item in Model)
            {
                <div class="work-item">
                    <div class="work-detail">
                        <a href="@Url.Action("DuAn_Details",new { id=item.IDDuan })">
                            <img src="~/Content/img/duan/@item.Hinh" alt="">
                            <div class="work-info">
                                <div class="centrize">
                                    <div class="v-center">
                                        <h3>@item.TuaDe</h3>
                                        <p>@item.TuaDePhu</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            }
        </div>
        <!-- end of portfolio grid-->
    </div>
</section>
