@model IEnumerable<NEWHOUSE_REBUILD_2022.Models.KT>
@{
    Layout = null;
}

<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title txt-xs-center">
                    <h3 class="upper">Ngân Hàng Tác Phẩm Kiến Trúc</span></h3>
                    <hr>
                    @Html.Raw(ViewBag.LoiGioiThieuKTS)
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 col-sm-6">
                            <div class="shop-product">
                                <div class="product-thumb">
                                    <a href="#">
                                        <img src="~/Content/images/architect/@item.Hinh" alt="">
                                    </a>
                                    <div class="product-overlay">
                                        <a href="@Url.Action("KienTrucSu_Details",new { id=item.IDKTS })" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="upper"><a href="#">@item.TuaDe</a></h4>
                                    <div class="save-product">
                                        <a href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <!-- end of row-->
            </div>
        </div>
        <!-- end of row-->
    </div>

    <!-- end of container -->
</section>
