
@{
    Layout = null;
}


<!-- Home Section-->
<section id="home">
    <!-- Home slider-->
    <div id="home-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="images/bg/0.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <!-- <h1>We Are Smart<span class="red-dot"></span></h1> -->
                            <!-- <h6>We provide digital services.</h6> -->
                            <!-- <p><a href="#contact" data-scroll="true" class="btn btn-light-out">Contact Us</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/bg/1.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <h1>New House Solution Module Any House</h1>
                            <h6>To Build On Any Place</h6>
                            <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/bg/2.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <h1>On The Sand</h1>
                            <!-- <h6>To Build On Any Place</h6> -->
                            <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/bg/3.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <h1>On The Mountain</h1>
                            <!-- <h6>To Build On Any Place</h6> -->
                            <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/bg/4.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <h1>On The Lake</h1>
                            <!-- <h6>To Build On Any Place</h6> -->
                            <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/bg/5.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <h1>On The Sand</h1>
                            <!-- <h6>To Build On Any Place</h6> -->
                            <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/bg/6.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <h1>On The Tree</h1>
                            <!-- <h6>To Build On Any Place</h6> -->
                            <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/bg/7.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <h1>On The Lake</h1>
                            <!-- <h6>To Build On Any Place</h6> -->
                            <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/bg/8.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <h1>On The Water</h1>
                            <!-- <h6>To Build On Any Place</h6> -->
                            <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/bg/9.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <h1>The Log</h1>
                            <!-- <h6>To Build On Any Place</h6> -->
                            <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/bg/10.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <h1>The Column</h1>
                            <!-- <h6>To Build On Any Place</h6> -->
                            <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="images/bg/11.png" alt="">
                <div class="slide-wrap">
                    <div class="slide-content">
                        <div class="container">
                            <h1>The Slab</h1>
                            <!-- <h6>To Build On Any Place</h6> -->
                            <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- end of home slider-->
</section>
<!-- enf of home section-->