@model IEnumerable<NEWHOUSE_REBUILD_2022.Models.Slide>
@{
    Layout = null;
}


<!-- Home Section-->
<section id="home">
    <!-- Home slider-->
    <div id="home-slider" class="flexslider">
        <ul class="slides">
            @foreach (var item in Model)
            {
                <li>
                    <img src="~/Content/img/@item.Hinh" alt="">
                    <div class="slide-wrap">
                        <div class="slide-content">
                            <div class="container">
                                <h1>@item.TuaDe</h1>
                                <h6>@item.TuaDePhu</h6>
                                <!-- <p><a href="#" class="btn btn-light-out">Read More</a><a href="#" class="btn btn-color btn-full">Services</a> -->
                                <!-- </p> -->
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!-- end of home slider-->
</section>
<!-- enf of home section-->