@model IEnumerable<NEWHOUSE_REBUILD_2022.Models.TinhNang>

@{
    Layout = null;
}

<section>
    <div class="container">
        <div class="title left">
            <h2>Tính Năng</h2>
            <hr>
            <p>@ViewBag.LoiGioiThieu</p>
        </div>
        <div class="section-content">
            <div class="row">
                <style>
                    img.TinhNang {
                        width:30px;
                        height:30px;
                    }
                </style>
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-sm-6">
                        <div class="icon-box-basic">
                            <i><img class="TinhNang" src="~/Content/img/tinhnang/@item.Hinh" /></i>
                            <h4>@item.TuaDe</h4>
                            @Html.Raw(item.NoiDung)
                        </div>
                    </div>
                }
            </div>
            <!-- end of row-->
        </div>
        <!-- end of section content-->
    </div>
    <!-- end of container-->
</section>