@model IEnumerable<NEWHOUSE_REBUILD_2022.Models.TinTuc>

@{
    Layout = null;
}

<section id="news">
    <div class="container">
        <div class="col-md-12">
            <div class="title m-0 txt-xs-center txt-sm-center">
                <h2 class="upper">Tin Tức</h2>
                <hr>
            </div>
            <div class="section-content">
                <div data-options="{&quot;items&quot;: 3, &quot;autoplay&quot;: true, &quot;margin&quot;: 30}" class="owl-carousel">
                    @foreach (var item in Model)
                    {
                        <div class="team-member">
                            <div class="team-image">
                                <img src="~/Content/images/news/@item.Hinh" alt="">
                            </div>
                            <div class="team-info">
                                <h3>@item.TuaDe</h3>
                            </div>
                        </div>
                        <!-- end of team member                      -->
                    }
                </div>
            </div>
        </div>
        <!-- end of section content-->
    </div>

    <!-- end of container-->
</section>
