
@{
    Layout = null;
}

<section id="news">
    <div class="container">
        <div class="col-md-12">
            <div class="title m-0 txt-xs-center txt-sm-center">
                <h2 class="upper">Tin Tức</h2>
                <hr>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="shop-product">
                            <div class="product-thumb">
                                <a href="#">
                                    <img src="images/shop/1.jpg" alt="">
                                </a>
                                <div class="product-overlay">
                                    <a href="#" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="upper"><a href="#">Premium Notch Blazer</a></h4>
                                <div class="save-product">
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="shop-product">
                            <div class="product-thumb">
                                <a href="#">
                                    <img src="images/shop/1.jpg" alt="">
                                </a>
                                <div class="product-overlay">
                                    <a href="#" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="upper"><a href="#">Premium Notch Blazer</a></h4>
                                <div class="save-product">
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="shop-product">
                            <div class="product-thumb">
                                <a href="#">
                                    <img src="images/shop/1.jpg" alt="">
                                </a>
                                <div class="product-overlay">
                                    <a href="#" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="upper"><a href="#">Premium Notch Blazer</a></h4>
                                <div class="save-product">
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of row-->
            </div>
        </div>
        <!-- end of section content-->
    </div>

    <!-- end of container-->
</section>
